@import "./main.scss";

#showcase {
  background-color: $primary-dark-green;
  text-align: center;

  h1 {
    font-weight: 600;
    font-size: 2rem;
    color: $secondary-light;
  }

  h5 {
    margin: 0 1rem;
    color: $secondary-light;
  }

  showcase-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    grid-auto-rows: minmax(min-content, max-content);
    @include md {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .search-recipe {
    max-width: 80%;

    button {
      border: none;
      background-color: $primary-mid-green;
      color: white;
    }
  }
}
