@import "./main.scss";

#showcase {
  background-color: $primary-dark-green;
  text-align: center;

  h1 {
    font-weight: 600;
    font-size: 2rem;
    color: $secondary-light;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  h5 {
    margin: 0 1rem;
    color: $secondary-light;
  }

  showcase-list,
  search-recipe-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    grid-auto-rows: minmax(min-content, max-content);
    @include md {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  search-recipe-list {
    width: 100%;
  }

  .search-recipe {
    max-width: 90%;

    span {
      color: $secondary-light;
    }

    input {
      border-top-left-radius: 0.3rem;
      border-bottom-left-radius: 0.3rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 1rem;
    }

    button {
      border: none;
      border-top-right-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
      background-color: $primary-mid-green;
      color: white;
      &:hover {
        background: lighten($primary-mid-green, 3);
      }
    }
  }
}
